@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Light"),
		url("../fonts/gilroylight.woff2") format("woff2");
	font-weight: lighter;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans"),
		url("../fonts/opensans.woff2") format("woff2");
		font-weight: normal;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Light"),
		url("../fonts/opensanslight.woff2") format("woff2");
	font-weight: lighter;
}

body {
	min-width: 1200px;
	padding: 0;
	padding-top: 40px;
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #000000;
	font-weight: lighter;

	background-color: #ffffff;

	counter-reset: slide;
}

a {
	text-decoration: none;
	color: #000000;
}

.btn {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;

	border: none;
	background: none;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
	position: relative;
	width: 1160px;
	padding: 50px 0px;
	margin: 0 auto;
	background-color: #f7e296;
}

.main-logo {
	position: absolute;
	top: -22px;
	left: 60px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
}

.main-logo[href]:hover,
.main-logo[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}

.main-logo[href]:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
	display: flex;
	flex-direction: column;
	width: 1040px;
	margin: 0 auto;
}

.main-navigation-wrapper {
	margin-bottom: 25px;

	display: flex;
}

.search {
	position: relative;

	width: 355px;
}

.search::before {
	content: "";

	position: absolute;
	top: 7px;
	left: 5px;

	width: 16px;
	height: 16px;

	background-image: url(../img/search-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search input[type="search"] {
	width: 315px;
	padding-left: 45px;
	padding-bottom: 10px;

	border: none;
	background-color: #f7e296; 
	border-bottom: solid 2px rgba(0, 0, 0, 0);
}

.btn-search {
	position: absolute;

	font-size: 15px;
	line-height: 30px;
	display: none;

	background: none;
	border: solid 2px #000000;
}

.btn-search:hover {
	color: #ffffff;
	background-color: #000000;
}

.btn-search:active {
	display: inline;

	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
}

.main-navigation input[type="search"]::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation input[type="search"]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.main-navigation input[type="search"]:focus::placeholder {
	color: #000000;
}

.main-navigation input[type="search"]:focus {
	outline: none;
	border-bottom: solid 2px #000000;
}

.main-navigation input[type="search"]:focus ~ .btn-search {
	display: inline;
}

.profile-navigation {
	display: flex;
	justify-content: space-between;
	width: 195px;
	padding: 0;
	margin: 0;
	margin-left: 210px;
}

.profile-navigation-item:first-child {
	position: relative;
}

.profile-navigation-item:first-child a::before {
	content: "";

	position: absolute;
	top: 9px;
	left: -26px;

	width: 13px;
	height: 12px;

	background-image: url(../img/user-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.profile-navigation-item:nth-child(2) {
	margin-left: 20px;
}

.profile-navigation .faint {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
	display: flex;
	width: 195px;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-left: auto;
}

.user-navigation-item:first-child {
	position: relative;
}

.user-navigation-item:first-child a::before {
	content: "";

	position: absolute;
	top: 11px;
	left: -24px;

	width: 10px;
	height: 10px;

	background-image: url(../img/compare-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-item:last-child {
	position: relative;
}

.user-navigation-item:last-child a::before {
	content: "";

	position: absolute;
	top: 9px;
	left: -24px;

	width: 12px;
	height: 12px;

	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.profile-navigation,
.user-navigation {
	list-style: none;
}

.profile-navigation a:hover,
.user-navigation a:hover,
.profile-navigation a:focus,
.user-navigation a:focus {
	color: rgba(0, 0, 0, 0.6);
	opacity: 0.6;
}

.profile-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
	opacity: 0.3;
}

.site-navigation {
	position: relative;

	margin: 0px;
	padding: 0px;

	display: flex;
	list-style: none;
}

.site-navigation > li:first-child {
	position: relative;
}

.site-navigation > li:first-child::before {
	content: "";

	position: absolute;
	bottom: 6px;
	right: -25px;

	width: 16px;
	height: 16px;

	background-image: url(../img/plus-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.site-navigation > li:first-child:hover .header-catalog-list,
.site-navigation > li:first-child:focus .header-catalog-list {
	display: flex;
}

.site-navigation > li:nth-child(2) {
	margin-left: 320px;
}

.site-navigation > li:nth-child(3) {
	margin-left: 40px;
}

.site-navigation > li:last-child {
	margin-left: auto;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation > li > a {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.header-catalog-list {
	position: absolute;
	top: 30px;
	left: -60px;
	z-index: 1;

	display: none;
	width: 1160px;
	min-height: 160px;
	padding: 0;
	margin: 0;

	line-height: 36px;

	background-color: #f7e296;
	list-style: none;
}

.header-catalog-column ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

.header-catalog-column:first-child {
	margin: 0 60px;
}

.header-catalog-column:last-child {
	margin-left: 75px;
}

.slider {
	position: relative;

	width: 1160px;
	min-height: 495px;
	margin: 0 auto;
	margin-bottom: 105px;
}

.slider-list {
	padding: 0;
	margin: 0;
}

.slider-item {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;


	display: flex;
	padding-left: 30px;
	padding-right: 60px;

	background: linear-gradient(to bottom, #f7e296 110px, #ffffff 50px);
}

.slider-item::before {
	content: "";

	position: absolute;
	top: 35px;
	left: 596px;

	width: 100px;
	height: 7px;
	background-color: #ffffff;

}

.slider-item::after {
	content:  "0" counter(slide);

	position: absolute;
	top: 62px;
	right: 30px;

	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 180px;
	color: #ffffff;

	counter-increment: slide;
}

.slide-show {
	z-index: 0;
}

.slider-image-wrapper {
	min-width: 526px;
	min-height: 495px;
	text-align: center;
}

.slider-description-wrapper {
	position: relative;

	align-self: flex-end;
	margin-left: 40px;
	margin-bottom: 5px;
}

.slider-description-wrapper h3 {
	margin: 0;
	margin-bottom: 20px;

	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 56px;
	text-transform: none;
}

.slider-description-wrapper p {
	margin: 0;
	margin-bottom: 48px;
}

.item-properties {
	margin-top: 55px;
}

.item-properties td {
	padding-left: 80px;
}

.item-properties td:first-child {
	padding: 0;
}

.btn-details {
	position: relative;

	display: inline-block;

	min-width: 220px;

	text-align: center;
}

.btn-details::before {
	content: "";

	position: absolute;
	top: 8px;
	left: 0;
	z-index: -1;

	width: 220px;
	height: 8px;

	background-color: #f0c52e;

	transition: transform 0.2s;
}

.btn-details:hover::before {
	transform: scaleY(5);
}

.btn-details:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.btn-slide {
	position: absolute;
	bottom: 158px;
	right: 151px;

	padding: 0;
	width: 12px;
	height: 12px;

	cursor: pointer;
	background: none;
	border: solid 1px #000000;
	border-radius: 50%;
}

.btn-slide:nth-of-type(2) {
	right: 118px;
}

.btn-slide:nth-of-type(3) {
	right: 85px;
}

.btn-slide.active {
	background: radial-gradient(circle, #ffffff 1px, #000000 1px, #000000 2px, #ffffff 2px);
}

.item-properties tr:first-child {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.catalog-navigation {
	width: 1160px;
	margin: 0 auto;
}

.catalog-navigation-list {
	display: flex;
	padding: 0;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	list-style: none;
}

.catalog-navigation-container {
	display: flex;
	width: 160px;
	height: 160px;
	margin-bottom: 40px;

	align-items: center;
	justify-content: center;

	background-color: #f7e296;
}

.catalog-navigation-item {
	margin-left: 40px;
	margin-bottom: 165px;
}

.catalog-navigation-item:first-child {
	margin: 0;
	margin-bottom: 175px;
}

.catalog-navigation-item:hover .catalog-navigation-container  {
	background-color: #f0c52e;
}

.catalog-navigation-item:active img,
.catalog-navigation-item:active a {
	opacity: 0.3;
}

.services {
	position: relative;
	z-index: 0;

	min-height: 308px;
	margin-bottom: 95px;

	background: linear-gradient(to bottom, #ffffff 26px, #dcdcdc 26px);
}

.services-wrapper {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.services-list {
	position: relative;

	min-width: 275px;
	padding: 0;
	margin: 0;

	list-style: none;
}

.services-list::after {
	content: "";

	position: absolute;
	right: -10px;
	bottom: -48px;

	width: 7px;
	height: 319px;

	background-color: #000000;
}

.services-list-item {
	margin-bottom: 20px;
}

.btn-services {
	position: relative;

	min-width: 160px;
}

.btn-services::before {
	content: "";

	position: absolute;
	top: 9px;
	left: 0;
	z-index: -1;

	width: 100%;
	height: 8px;

	background-color: #f0c52e;

	transition: transform 0.2s;
}

.btn-services.current {
	color: #f7e184;
}

.btn-services.current::after {
	content: "";

	position: absolute;
	top: -7px;
	left: 0;
	z-index: -1;

	width: 278px;
	height: 40px;

	background-color: #000000;
}

.btn-services:active {
	color: #f7e184;
}

.btn-services:active::after {
	content: "";

	position: absolute;
	top: -7px;
	left: 0;
	z-index: -1;

	width: 278px;
	height: 40px;

	background-color: #000000;
}

.btn-services:hover::before {
	transform: scaleY(5);
}

.services-description-list {
	padding: 0;
	margin: 0;
	margin-left: 125px;

	list-style: none;
}

.services-description-item {
	position: relative;

	display: none;
}

.services-description-item.selected {
	display: block;
}

.services-description-list h3,
.info-container h2 {
	padding: 0;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: bold;
}

.services-description-list h3 {
	margin-bottom: 35px;
}

.services-description-item p {
	width: 430px;
}

.services-description-item:first-child::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 563px;

	width: 136px;
	height: 164px;
	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-description-item:nth-child(2)::after {
	content: "";

	position: absolute;
	top: -13px;
	left: 563px;

	width: 171px;
	height: 194px;
	background-image: url(../img/warranty.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-description-item:last-child::after {
	content: "";

	position: absolute;
	top: -13px;
	left: 563px;

	width: 171px;
	height: 194px;
	background-image: url(../img/credit-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.brands {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 145px;
}

.brands-list {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between;

	list-style: none;
}

.brands-item img {
	opacity: 0;
}

.brands-item:first-child {
	background-image: url(../img/brand-1-mono.jpg);
}

.brands-item:nth-child(2) {
	background-image: url(../img/brand-2-mono.jpg);
}

.brands-item:nth-child(3) {
	background-image: url(../img/brand-3-mono.jpg);
}

.brands-item:last-child {
	background-image: url(../img/brand-4-mono.jpg);
}

.brands-item img:hover {
	opacity: 1;
}

.info-container {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 90px;
}

.about-us {
	position: relative;

	width: 485px;
}

.about-us::before {
	content: "";

	position: absolute;
	top: -50px;
	left: 0;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.about-us h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.about-us p {
	padding: 0;
	margin: 0;
	margin-bottom: 35px;
}

.delivery-list {
	padding: 0;
	padding-left: 35px;
	margin: 0;
	margin-top: 65px;
	margin-bottom: 70px;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	list-style: none;
}

.delivery-list-item {
	position: relative;
}

.delivery-list-item::before {
	content: "";

	position: absolute;
	top: 17px;
	left: -35px;

	width: 4px;
	height: 4px;

	border: solid 2px #e5e5e5;
	border-radius: 50%;
}

.btn-about-us {
	position: relative;

	display: inline-block;
	min-width: 260px;

	text-align: center;
}

.btn-about-us::before {
	content: "";

	position: absolute;
	top: 8px;
	left: 0;
	z-index: -1;

	width: 260px;
	height: 8px;

	background-color: #f0c52e;

	transition: transform 0.2s;
}

.btn-about-us:hover::before {
	transform: scaleY(5);
}

.btn-about-us:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.contacts {
	position: relative;

	width: 560px;
}

.contacts::before {
	content: "";

	position: absolute;
	top: -50px;
	left: 0;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.contacts h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.contacts p {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.map img {
	margin-bottom: 74px;
}

.btn-contacts {
	position: relative;

	display: inline-block;
	min-width: 260px;

	text-align: center;
}

.btn-contacts::before {
	content: "";

	position: absolute;
	top: 8px;
	left: 0;
	z-index: -1;

	width: 260px;
	height: 8px;

	background-color: #f0c52e;

	transition: transform 0.2s;
}

.btn-contacts:hover::before {
	transform: scaleY(5);
}

.main-footer {
	padding: 65px 0;

	background-color: #464646;
}

.footer-wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: 0 auto;
}

.footer-wrapper::after {
	content: "";

	position: absolute;
	left: 0;
	bottom: 20px;

	width: 80px;
	height: 7px;

	background-color: #ffc600; 
}

.footer-container {
	display: flex;
}

.footer-container:first-child {
	margin-bottom: 35px;
}

.footer-container:nth-child(2) {
	align-items: baseline;
	margin-bottom: 60px;
}

.footer-container:nth-child(2) p:last-child {
	margin-left: 200px;
}

.main-footer a {
	color: #ffffff;
}

.main-footer p {
	padding: 0;
	margin: 0;

	color: #ffffff;
}

a.footer-logo {
	margin-right: auto;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffc600;
}

.footer-profile-navigation,
.footer-user-navigation {
	display: flex;
	padding: 0;
	margin: 0;

	list-style: none;
}

.footer-profile-navigation {
	justify-content: flex-end;
	width: 205px;
}

.footer-user-navigation {
	justify-content: space-between;
	width: 195px;
	margin-left: 65px;
}

.footer-profile-navigation .faint {
	color: rgba(255, 255, 255, 0.3);
}

.logout-link {
	margin-left: 20px;
}

.footer-info-navigation {
	display: flex;
	justify-content: space-between;
	min-width: 425px;
	padding: 0;
	margin: 0;
	margin-left: 160px;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: bold;
	list-style: none;
}

.footer-logo[href]:hover {
	color: rgba(255, 198, 0, 0.6);
}

.footer-logo[href]:active {
	color: rgba(255, 198, 0, 0.3);
}

.footer-profile-navigation a:hover,
.footer-user-navigation a:hover,
.footer-profile-navigation a:focus,
.footer-user-navigation a:focus {
	color: rgba(255, 255, 255, 0.6);
	opacity: 0.5;
}

.footer-profile-navigation a:active,
.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
	opacity: 0.6;
}

.footer-info-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-info-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.profile-navigation-item:first-child .footer-navigation-item::before {
	content: "";

	position: absolute;
	top: 9px;
	left: -26px;

	width: 13px;
	height: 12px;

	background-image: url(../img/footer-user-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-item:first-child .footer-navigation-item::before {
	content: "";

	position: absolute;
	top: 11px;
	left: -24px;

	width: 10px;
	height: 10px;

	background-image: url(../img/footer-compare-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-item:last-child .footer-navigation-item::before {
	content: "";

	position: absolute;
	top: 9px;
	left: -24px;

	width: 12px;
	height: 12px;

	background-image: url(../img/footer-cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-list {
	display: flex;
	justify-content: space-between;
	min-width: 140px;
	padding: 0;
	margin: 0;
	margin-left: 510px;

	list-style: none;
}

.social-btn.facebook {
	display: inline-block;

	width: 32px;
	height: 32px;

	border-radius: 50%;
	background-image: url(../img/fb-logo.svg);
}

.social-btn.instagram {
	display: inline-block;

	width: 32px;
	height: 32px;

	border-radius: 50%;
	background-image: url(../img/inst-logo.svg);
}

.social-btn.twitter {
	display: inline-block;

	width: 32px;
	height: 32px;

	border-radius: 50%;
	background-image: url(../img/twitter-logo.svg);
}

.copyright {
	margin-left: auto;
	width: 27px;
	height: 35px;

	background-image: url(../img/logo-html.svg);
	background-repeat: no-repeat;
}

.modal-write-us {
	width: 760px;
	padding: 100px;
	margin: 0 auto;

	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.write-us {
	display: flex;
	flex-wrap: wrap;
}

.write-us label {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	}

.write-us p {
	width: 360px;
}

.write-us p:last-of-type {
	width: 760px;
}

.write-us input {
	width: 360px;
}

.write-us textarea {
	width: 760px;
	min-height: 155px;
}

.write-us input,
.write-us textarea {
	background-color: #f2f2f2;
	border: none;
}

.write-us input::placeholder,
.write-us textarea {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.4);
	font-style: normal;
}

.write-us input:hover,
.write-us textarea:hover {
	background-color: #eaeaea;
}

.write-us input:focus,
.write-us textarea:focus {
	color: #000000;
	background-color: #ffffff;
	outline: solid 3px #f7e296;
}

.write-us input:invalid,
.write-us textarea:invalid {
	background-color: #f6dada;
}

.btn-write-us:hover {
	background-color: #f0c52e;
}

.btn-write-us:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.modal-map {
	width: 960px;
	margin: 0 auto;

	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.inner-page {
	overflow: hidden;
}

.title-wrapper {
	width: 1100px;
	padding-left: 60px;
	margin: 0 auto;
}

.page-title {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 25px;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: bold;
}

.breadcrumbs {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

.breadcrumbs,
.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	list-style: none;
}

.breadcrumbs a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
	color: rgba(0, 0, 0, 0.1);
}

.inner-container {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.filter {
	position: relative;

	padding-left: 60px;
	padding-right: 65px;
	min-width: 200px;
}

.filter-form p {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
}

.filter h2,
.filter-form .price-range,
.filter-form legend {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	color: #000000;
}

.filter h2 {
	padding: 23px 0;
	margin: 0;

	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.filter-form .price-range,
.filter-form legend {
	font-size: 18px;
	line-height: 24px;
}

.filter-container {
	border: none;
}

.filter-container ul {
	list-style: none;
}

.filter-container input[type="checkbox"]:disabled ~ label {
	color: #a6a6a6;
}

.filter-container input[type="radio"]:disabled ~ label {
	color: #a6a6a6;
}

.btn-filter:hover {
	background-color: #f0c52e;
}

.btn-filter:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.filter-form::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;

	width: 100vw;
	height: 100%;

	background: linear-gradient(to bottom, #dcdcdc 70px, #efefef 70px);
}

.catalog {
	display: flex;
	flex-direction: column;
}

.sort-container {
	position: relative;

	display: flex;
	align-items: center;
	padding: 20px 0;
	padding-left: 75px;
}

.sort-container ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.sort-container .sort-menu {
	justify-content: space-between;
	min-width: 300px;
	margin: 0;
	margin-left: 40px;
}

.sort-container > h2 {
	padding: 0;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.sort-menu,
.sort-btn-list {
	list-style: none;
}

.sort-menu a {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
}

.sort-menu .current {
	color: #000000;
}

.sort-menu a:hover:not(.current) {
	color: rgba(0, 0, 0, 0.6);
}

.sort-menu a:active:not(.current) {
	color: #000000;
}

.sort-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	width: 100vw;
	height: 100%;

	background-color: #ebebeb;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 760px;
	padding-top: 70px;
	padding-left: 70px;
	margin: 0;
	

	list-style: none;
}

.catalog-item {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	width: 360px;
	margin-bottom: 50px;
}

.catalog-item h2 {
	width: 260px;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.catalog-item img {
	order: -1;
	margin-bottom: 30px;
}

.catalog-item p {
	margin: 0;
	margin-left: auto;

	font-size: 16px;
}

.catalog-item:hover::after {
	content: "";

	position: absolute;

	width: 360px;
	height: 380px;
	top: 0;
	left: 0;

	background-color: rgba(238, 238, 238, 0.7);
}

.add-compare {
	font-size: 13px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.5);
	border: none;
	background: none;
}

.btn-cart:hover {
	background-color: #f0c52e;
}

.btn-cart:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.add-compare:hover {
	color: #000000;
}

.add-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.new {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 70px;

	background-color: #ebebeb;
}

.pagination a {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.pagination > a {
	display: block;
	padding: 25px 30px;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
	min-width: 90px;
	padding: 0;
	margin: 0;

	list-style: none;
}

.pagination-list a[href] {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-list a[href]:hover,
.pagination-list a[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-list a[href]:active {
	color: #000000;
}

.pagination > a[href]:hover,
.pagination > a[href]:focus {
	background-color: #d9d9d9;
}

.pagination > a[href]:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}