@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "Gilroy";
	src:
		local("Gilroy Light"),
		url("../fonts/gilroylight.woff2") format("woff2");
	font-weight: lighter;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans"),
		url("../fonts/opensans.woff2") format("woff2");
		font-weight: normal;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans Light"),
		url("../fonts/opensanslight.woff2") format("woff2");
	font-weight: lighter;
}

body {
	min-width: 1200px;
	padding: 0;
	padding-top: 40px;
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	font-weight: lighter;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #000000;
}

.btn {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;

	border: none;
	background: none;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
	position: relative;
	width: 1160px;
	padding: 50px 0px;
	margin: 0 auto;
	background-color: #f7e296;
}

.main-logo {
	position: absolute;
	top: -22px;
	left: 60px;
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
}

.main-logo.inner:hover {
	color: rgba(0, 0, 0, 0.6);
}

.main-logo.inner:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
	display: flex;
	flex-direction: column;
	width: 1040px;
	margin: 0 auto;
}

.main-navigation-wrapper {
	margin-bottom: 45px;

	display: flex;
}

.search {
	width: 400px;
	margin-right: auto;
	margin-left: 40px;
}

.search input[type="search"] {
	width: 315px;

	border: none;
	background-color: #f7e296; 
}

.btn-search {
	font-size: 15px;
	line-height: 30px;
	display: none;

	background: none;
	border: solid 2px #000000;
}

.btn-search:hover {
	color: #ffffff;
	background-color: #000000;
}

.btn-search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
}

.main-navigation input[type="search"]::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation input[type="search"]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.main-navigation input[type="search"]:focus::placeholder {
	color: #000000;
}

.main-navigation input[type="search"]:focus {
	outline: none;
	border-bottom: solid 2px #000000;
}

.profile-navigation {
	display: flex;
	justify-content: space-between;
	width: 195px;
	padding: 0;
	margin: 0;
}

.profile-navigation .faint {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
	display: flex;
	width: 195px;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-left: 85px;
}

.profile-navigation,
.user-navigation {
	list-style: none;
}

.profile-navigation a:hover,
.user-navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.profile-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
	margin: 0px;
	padding: 0px;

	display: flex;
	list-style: none;
}

.site-navigation li:nth-child(2) {
	margin-left: 320px;
}

.site-navigation li:nth-child(3) {
	margin-left: 40px;
}

.site-navigation li:last-child {
	margin-left: auto;
}

.site-navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation > li > a {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.header-catalog-list {
	display: none;
	list-style: none;
}

.slider {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 105px;
}

.slider-list {
	width: 1040px;

	padding: 0;
	padding-left: 30px;
	padding-right: 60px;
	margin: 0;
}

.slider-item {
	display: flex;
}

.slider-image-wrapper {
	min-width: 526px;
	text-align: center;
}

.slider-description-wrapper {
	margin-left: 40px;
}

.slider-description-wrapper h3 {
	margin: 0;
	margin-bottom: 30px;

	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 56px;
	text-transform: none;
}

.slider-description-wrapper p {
	margin-bottom: 60px;
}

.item-properties {
	margin-top: 70px;
}

.item-properties td {
	padding-left: 80px;
}

.item-properties td:first-child {
	padding: 0;
}

.btn-details:hover {
	background-color: #f0c52e;
}

.btn-details:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.item-properties tr:first-child {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.catalog-navigation {
	width: 1160px;
	margin: 0 auto;
}

.catalog-navigation-list {
	display: flex;
	padding: 0;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	list-style: none;
}

.catalog-navigation-container {
	display: flex;
	width: 160px;
	height: 160px;
	margin-bottom: 40px;

	align-items: center;
	justify-content: center;

	background-color: #f7e296;
}

.catalog-navigation-item {
	margin-left: 40px;
	margin-bottom: 165px;
}

.catalog-navigation-item:first-child {
	margin: 0;
	margin-bottom: 165px;
}

.catalog-navigation-item:hover .catalog-navigation-container  {
	background-color: #f0c52e;
}

.catalog-navigation-item:active img,
.catalog-navigation-item:active a {
	opacity: 0.3;
}

.services {
	margin-bottom: 95px;
	background-color: #e5e5e5;
}

.services-wrapper {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.services-list {
	min-width: 275px;
	padding: 0;
	margin: 0;

	list-style: none;
	border-right: solid 7px #000000;
}

.services-list .current {
	color: #f7e184;
	background-color: #000000;
}

.services-list-item {
	margin-bottom: 20px;
}

.services-description-list {
	padding: 0;
	margin: 0;
	margin-left: 115px;

	list-style: none;
}

.services-description-item:not(.selected) {
	display: none;
}

.services-description-list h3,
.info-container h2 {
	padding: 0;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: bold;
}

.services-description-list h3 {
	margin-bottom: 35px;
}

.services-description-item p {
	width: 430px;
}

.services-list-item .btn:hover {
	background-color: #f0c52e;
}

.services-list-item .btn:active {
	color: #f7e184;
	background-color: #000000;
}

.brands {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 145px;
}

.brands-list {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between;

	list-style: none;
}

.info-container {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
}

.about-us {
	width: 495px;
}

.about-us h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
}

.about-us p {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.delivery-list {
	padding: 0;
	margin: 0;
	margin-bottom: 70px;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	list-style: none;
}

.btn-about-us:hover {
	background-color: #f0c52e;
}

.btn-about-us:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.contacts {
	width: 560px;
}

.contacts h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
}

.contacts p {
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.map img {
	margin-bottom: 70px;
}

.main-footer {
	padding: 65px 0;
	margin-top: 105px;

	background-color: #464646;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: 0 auto;
}

.footer-container {
	display: flex;
	margin-bottom: 35px;
}

.main-footer a {
	color: #ffffff;
}

.main-footer p {
	padding: 0;
	margin: 0;

	color: #ffffff;
}

a.footer-logo {
	margin-right: auto;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffc600;
}

.footer-profile-navigation,
.footer-user-navigation {
	display: flex;
	padding: 0;
	margin: 0;

	list-style: none;
}

.footer-profile-navigation {
	justify-content: flex-end;
	width: 205px;
}

.footer-user-navigation {
	justify-content: space-between;
	width: 195px;
	margin-left: 65px;
}

.footer-profile-navigation .faint {
	color: rgba(255, 255, 255, 0.3);
}

.logout-link {
	margin-left: 20px;
}

.footer-navigation {
	display: flex;
	justify-content: space-between;
	min-width: 425px;
	padding: 0;
	margin: 0;
	margin-left: 165px;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: bold;
	list-style: none;
}

.footer-logo.inner:hover {
	color: rgba(255, 198, 0, 0.6);
}

.footer-logo.inner:active {
	color: rgba(255, 198, 0, 0.3);
}

.footer-profile-navigation a:hover,
.footer-user-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-profile-navigation a:active,
.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-container p:last-child {
	margin-left: 200px;
}

.social-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 500px;

	list-style: none;
}

.copyright {
	margin-left: auto;
}

.modal-write-us {
	width: 760px;
	padding: 100px;
	margin: 0 auto;

	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.write-us {
	display: flex;
	flex-wrap: wrap;
}

.write-us label {
	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	}

.write-us p {
	width: 360px;
}

.write-us p:last-of-type {
	width: 760px;
}

.write-us input {
	width: 360px;
}

.write-us textarea {
	width: 760px;
	min-height: 155px;
}

.write-us input,
.write-us textarea {
	background-color: #f2f2f2;
	border: none;
}

.write-us input::placeholder,
.write-us textarea {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.4);
	font-style: normal;
}

.write-us input:hover,
.write-us textarea:hover {
	background-color: #eaeaea;
}

.write-us input:focus,
.write-us textarea:focus {
	color: #000000;
	background-color: #ffffff;
	outline: solid 3px #f7e296;
}

.write-us input:invalid,
.write-us textarea:invalid {
	background-color: #f6dada;
}

.btn-write-us:hover {
	background-color: #f0c52e;
}

.btn-write-us:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.modal-map {
	width: 960px;
	margin: 0 auto;

	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.title-wrapper {
	width: 1100px;
	padding-left: 60px;
	margin: 0 auto;
}

.page-title {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 25px;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: bold;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

.breadcrumbs,
.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	list-style: none;
}

.breadcrumbs a:hover:not(.breadcrumbs-current) {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active:not(.breadcrumbs-current) {
	color: rgba(0, 0, 0, 0.1);
}

.inner-container {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.filter {
	position: relative;

	padding-left: 60px;
	padding-right: 65px;
	min-width: 200px;
}

.filter-form p {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
}

.filter h2,
.filter-form .price-range,
.filter-form legend {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	color: #000000;
}

.filter h2 {
	padding: 23px 0;
	margin: 0;

	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.filter-form .price-range,
.filter-form legend {
	font-size: 18px;
	line-height: 24px;
}

.filter-container {
	border: none;
}

.filter-container ul {
	list-style: none;
}

.filter-container input[type="checkbox"]:disabled ~ label {
	color: #a6a6a6;
}

.filter-container input[type="radio"]:disabled ~ label {
	color: #a6a6a6;
}

.btn-filter:hover {
	background-color: #f0c52e;
}

.btn-filter:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.filter-form::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;

	width: 100vw;
	height: 100%;

	background: linear-gradient(to bottom, #dcdcdc 70px, #efefef 70px);
}

.catalog {
	display: flex;
	flex-direction: column;
}

.sort-container {
	position: relative;

	display: flex;
	align-items: center;
	padding: 20px 0;
	padding-left: 75px;
}

.sort-container ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.sort-container .sort-menu {
	justify-content: space-between;
	min-width: 300px;
	margin: 0;
	margin-left: 40px;
}

.sort-container > h2 {
	padding: 0;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.sort-menu,
.sort-btn-list {
	list-style: none;
}

.sort-menu a {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
}

.sort-menu .current {
	color: #000000;
}

.sort-menu a:hover:not(.current) {
	color: rgba(0, 0, 0, 0.6);
}

.sort-menu a:active:not(.current) {
	color: #000000;
}

.sort-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	width: 100vw;
	height: 100%;

	background-color: #ebebeb;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 760px;
	padding-top: 70px;
	padding-left: 70px;
	margin: 0;
	

	list-style: none;
}

.catalog-item {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	width: 360px;
	margin-bottom: 50px;
}

.catalog-item h2 {
	width: 260px;
	margin: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.catalog-item img {
	order: -1;
	margin-bottom: 30px;
}

.catalog-item p {
	margin: 0;
	margin-left: auto;

	font-size: 16px;
}

.catalog-item:hover::after {
	content: "";

	position: absolute;

	width: 360px;
	height: 380px;
	top: 0;
	left: 0;

	background-color: rgba(238, 238, 238, 0.7);
}

.add-compare {
	font-size: 13px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.5);
	border: none;
	background: none;
}

.btn-cart:hover {
	background-color: #f0c52e;
}

.btn-cart:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #f0c52e;
}

.add-compare:hover {
	color: #000000;
}

.add-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.new {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 70px;

	background-color: #ebebeb;
}

.pagination a {
	font-family: Gilroy, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.pagination > a {
	display: block;
	padding: 25px 30px;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
	min-width: 90px;
	padding: 0;
	margin: 0;

	list-style: none;
}

.pagination-list a[href] {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-list a[href]:hover,
.pagination-list a[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-list a[href]:active {
	color: #000000;
}

.pagination > a[href]:hover,
.pagination > a[href]:focus {
	background-color: #d9d9d9;
}

.pagination > a[href]:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}